#!/usr/bin/make -f

DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -q DEB_BUILD_GNU_TYPE)

%:
	dh $@

override_dh_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp
	mkdir -p debian/tmp/etc/gconf2xsettings.d
	cp keys debian/tmp/etc/gconf2xsettings.d
